body {
    background-color: rgb(221, 221, 204);
    color: rgb(85, 51, 0);
}

.class {
    background-color: rgb(248, 248, 248);
}

.card {
    margin: 5px;
}

#footer {
    position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: green;
  color: rgb(85, 51, 0);
  height: 30px;
  display: none;
}