img{
	width:auto;
	
}
.media{
	margin: 20px;
	height:200px;
	border:2px solid black;
	border-radius: 20px;
	background-color: rgb(117, 114, 110);
	color: white;
	opacity: 80%;
}
.productHead{
	margin: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 400;
}
#productDisplay{
	width: 100px;
	height: 175px;
	margin: 10px;
	padding: 5px;
	border:2px solid black;
	border-radius: 15px;
	background-color: white;
}
.productDes{
	margin: 10px;
	font-family: 'Josefin Sans', sans-serif;
	color:rgb(219, 217, 215);
	font-size: 16px;
}