/* ---------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------- */

body {
  background-color:#1D2228;
  font-family: "Josefin Sans", sans-serif;
  text-rendering: optimizeLegibility;
}

/* .clearfix {
  zoom: 1;
}

.clearfix::after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
} */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/header.webp);
  background-size: 100% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 45vh;
  background-attachment: fixed;
}

.hero-image {
  size: 50px 50px;
}

.hero-text-box {
  padding-right: 35px;
  text-align: right;
  color: white;
  font-family: "Allura", cursive;
  text-align: center;
  font-size: 27px;
  height: 50vh;
}

.hero-text-emphasis {
  font-family: "Bebas Neue", cursive;
}

.product-list > h3 {
  color: #E1E2E2;/*changed*/
  padding-top: 15px;
  font-family: "Open Sans", sans-serif;
}

.product-card {
  position:relative;
  /* background-color: #fff; */
  width: 300px;
  height: 230px;
  /*margin-bottom: 20px;*/
  margin:0 2% 10px 0;
}

.product-image {
  position: absolute;
  margin:18% 0;/*changed*/
  /*top: 50px;/*changed 50px*/
  height: 95px;/*changed*/
  width: 93px;/*changed*/
  border-radius: 25px;
  z-index: 2;
  border:2px solid white;

}

.product-description {
  position:absolute;
  height: 200px;/*changed*/
  width: 250px;/*changed*/
  border: 1px solid black;
  left: 30px;
  background-color: #F7F7F7;/*changed*/
  border-radius: 25px;
  z-index: 1;
  margin:10px;/*changed*/
}

.product-description h5 {
  color: black;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  left: 65px;
  top: 15px;/*changed*/
  font-size: 16px;/*changed*/
  right: 15px;/*changed*/
}

.product-description span {
  color: rgb(83,84,84);/*changed*/
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  font-size: small;/*changed*/
  left: 65px;
  top: 60px;/*changed*/
  right:20px;/*changed*/
}
.quantity{
  margin-top:140px;
  margin-left: 65px;
  margin-bottom: 5px;
  color:rgb(77,79,77);
  font-size: 15px;
}
.price{
  color:#55C269;
  
  margin-left: 65px;
}
