/* ---------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------- */

body {
  background-color: rgb(51, 50, 47);
  font-family: "Josefin Sans", sans-serif;
  text-rendering: optimizeLegibility;
}

.product-list > h2 {
  color: white;
  margin-top: 20px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 50px;
}

.product-card {
  position: relative;
  width: 300px;
  height: 200px;
  margin-bottom: 20px;
}

.product-image {
  position: absolute;
  top: 50px;
  height: 90px;
  width: 100px;
  border-radius: 25px;
  z-index: 2;
}

.product-description {
  position: absolute;
  height: 200px;
  width: 250px;
  border: 1px solid black;
  left: 50px;
  background-color: gray;
  border-radius: 25px;
  z-index: 1;
}

.product-description h5 {
  color: white;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  left: 65px;
  top: 5px;
}

.product-description span {
  color: white;
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  font-size: x-small;
  left: 65px;
  top: 60px;
}

/* ---------------------------------*/
/* card buttons */
/* -------------------------------- */

.product-description .cart-btn {
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  font-size: x-small;
  left: 65px;
  top: 150px;
  padding: 0.3rem 0.5rem;
  background-color: #06294e;
  border-color: #7bbaca;
}

.product-description .read-button {
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  font-size: x-small;
  left: 145px;
  top: 150px;
  padding: 0.3rem 0.5rem;
  background-color: gray;
  border-color: #7bbaca;
}

.product-description .read-button:hover {
  background: #06294e;
  color: #fff;
  border-color: #7bbaca;
}

/* ---------------------------------*/
/* modal description */
/* -------------------------------- */

.modal-product-image {
  width: 100%;
}

/* ---------------------------------*/
/* cart button */
/* -------------------------------- */
.cart {
  background-color: #ffffff;
  color: #000000;
  padding: 13px 13px;
  border-color: #ffffff;
  border-radius: 50%;
}

#mybutton {
  position: fixed;
  bottom: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  z-index: 20;
}

.cart-amount {
  width: 20px;
  height: 20px;
  background-color: #31708e;
  position: absolute;
  z-index: 30;
  border-radius: 50%;
  bottom: 33px;
  left: 25px;
  text-align: center;
  color: white;
}
