body {
  background-color: #bbf1fa;
  font-family: "Allerta Stencil", serif;
  text-rendering: optimizeLegibility;
}

.product-list > h3 {
  font-color: #ffffff; /*changed*/
  padding-top: 10px;
  font-family: "Allerta Stencil", serif;
  margin-bottom: 20px;
}

.product-card {
  position: relative;
  /* background-color: #fff; */
  position: relative;
  width: 300px;
  height: 200px;
  /*margin-bottom: 20px;*/
  margin-bottom: 20px;
}

.product-image {
  position: absolute;
  top: 48px; /*changed 50px*/
  height: 98px; /*changed*/
  width: 105px; /*changed*/
  border-radius: 25px;
  z-index: 2;
  border: 2px solid white;
  -webkit-box-shadow: 2px 2px 20px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 20px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 20px -8px rgba(0, 0, 0, 0.75);
}

.product-description {
  position: absolute;
  height: 200px; /*changed*/
  width: 250px; /*changed*/
  border: 1px solid black;
  left: 50px;
  background-color: #f7f7f7; /*changed*/
  border-radius: 25px;
  z-index: 1;
}

.product-description h5 {
  color: black;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  left: 65px;
  top: 15px; /*changed*/
  font-size: 17px;
  right: 15px;
}

.product-description span {
  color: rgb(83, 84, 84); /*changed*/
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  font-size: 15px; /*changed*/
  left: 65px;
  top: 64px; /*changed*/
  right: 10px;
}

.Price{
  color:rgb(83,138,48);
  margin-top:130px;
  margin-left:65px;
  font-size: 16px;
}
/* ---------------------------------*/
/* card buttons */
/* -------------------------------- */

.product-description .cart-btn {
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  font-size: x-small;
  left: 65px;
  top: 158px;
  padding: 0.3rem 0.5rem;
  background-color: #1d2228;
  border: none;
  bottom: 15px;
  -webkit-box-shadow: 2px 2px 20px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 20px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 20px -2px rgba(0, 0, 0, 0.75);
}

.product-description .read-button {
  font-family: "Josefin Sans", sans-serif;
  position: absolute;
  font-size: x-small;
  left: 145px;
  top: 158px;
  bottom: 15px;
  padding: 0.3rem 0.5rem;
  background-color: gray;
  border: none;
  -webkit-box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.75);
}

.product-description .read-button:hover {
  background: #1d2228;
  color: #fff;
  border-color: #1d2228;
}

/* ---------------------------------*/
/* modal description */
/* -------------------------------- */

.modal-product-image {
  width: 100%;
}

.modal-content .modal-body
{
  font-color: #ffffff; /*changed*/
  padding-top: 10px;
  font-family: "Allerta Stencil", serif;
}

/* for all products */
.product-card .modal-content{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  text-align: justify;
}


/* product 1 */
#NaturalLaundryDetergent .modal-content{
  background-color: #000000;

}

/* product 2 */
#SilkAndWool .modal-content{
  background-color: #000000;
}

/* product 3 */
#NaturalDishwashLiquid .modal-content{
  background-color: #000000;
}

/* product 4 */
#NaturalFruitAndVegetableWash .modal-content{
  background-color: #000000;
}

/* product 5 */
#NaturalFloorCleaner .modal-content{
  background-color: #000000;
}

/* product 6 */
#NaturalHandwash .modal-content{
  background-color: #000000;
}

/* ---------------------------------*/
/* cart button */
/* -------------------------------- */
.cart {
  background-color: #ffffff;
  color: #000000;
  padding: 13px 13px;
  border-color: #ffffff;
  border-radius: 50%;
}

#shoppingcartbutton {
  position: fixed;
  bottom: 40px;
  right: 15px;
  width: 50px;
  height: 50px;
  z-index: 20;
}

.cart-amount {
  width: 20px;
  height: 20px;
  background-color: #31708e;
  position: absolute;
  z-index: 30;
  border-radius: 50%;
  bottom: 33px;
  left: 25px;
  text-align: center;
  color: white;
}

.footer-icons{
  padding: 0 0.5rem;
}

.footer {
  background: #000;
  padding: 0 0;
}
.footer .inner-left,
.footer .inner-right {
  padding: 20px 0;
}

.footer a {
  color: #fff;
  padding: 0 0.5rem;
}
.footer p {
  color: #fff;
}
@media (min-width: 992px) {
  .footer .inner-left {
    float: left;
  }
  .footer .inner-right {
    float: right;
  }
}
@media (max-width: 991px) {
  .footer {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .footer p {
    display: inline-block;
  }
  .footer p + p {
    padding-left: 50px;
  }
}

#inner-right{
  padding: 10px 0;
}

#inner-right p {
  margin-bottom: 0.5rem;  
}



.minus-item {
  border-radius: 10px 10px 0px 0px;
  border: 1px solid #1d2228;
  background-color: white;
  color: black;
  width:40px;
}
.minus-item:hover {
  color: white;
  background-color: #1d2228;
  border-color: #1d2228;
}
.plus-item {
  border-radius: 0px 0px 10px 10px;
  border: 1px solid #1d2228;
  background-color: white;
  color: black;
  width: 40px;
}
.plus-item:hover {
  color: white;
  background-color: #1d2228;
  border-color: #1d2228;
}
.delete-item {
  border-radius: 10px;
  border: none;
  background-color: white;
}
#quantity {
  border-top: none;
  border-bottom: none;
  border-left: 1px solid #1d2228;
  border-right: 1px solid #1d2228;
  text-align: center;
  width:40px;
}

.clear-cart {
  background-color: #1d2228;
  color: white;
  -webkit-box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.75);
  border-radius: 18px;
  margin-right: 2rem;
  font-size: 15px;
}
.Order-now {
  background-color: #1d2228;
  color: white;
  -webkit-box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 20px -5px rgba(0, 0, 0, 0.75);
  border-radius: 18px;
  margin-right: 2rem;
  font-size: 15px;
}
